.app {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  width: 100vw;
}
.app .content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.chats {
  height: 100vh;
  overflow-y: auto;
  padding-block: var(--spacing-padding-x);
  padding-inline: var(--spacing-padding-x);
}
.chats .content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-inline: auto;
  max-width: var(--max-width);
  width: 100%;
}
.chats button {
  background: color-mix(in srgb, var(--color-text) 2%, transparent);
  border-radius: 5px;
  color: color-mix(in srgb, var(--color-text) 50%, transparent);
  display: flex;
  overflow: hidden;
  padding: 10px 12px;
  transition: background 90ms linear, color 90ms linear;
}
.chats button:hover {
  background: color-mix(in srgb, var(--color-text) 3%, transparent);
  color: var(--color-text);
}
.chats button span {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
