.root {
  background: var(--color-bg-tertiary);
  border-radius: 12px;
  border: 1px solid var(--color-border-tertiary);
}
.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-block: 6px;
  padding-inline: var(--spacing-padding-x);
}
.header .actions {
  align-items: center;
  display: flex;
  gap: var(--spacing-padding-x);
}
.header span {
  color: color-mix(in srgb, var(--color-text) 33%, transparent);
  font-family: "JetBrains Mono", monospace;
  font-size: 13px;
  letter-spacing: -0.02em;
  line-height: 1.2;
}
.header button {
  color: color-mix(in srgb, var(--color-text) 33%, transparent);
  font-family: "JetBrains Mono", monospace;
  font-size: 13px;
  letter-spacing: -0.02em;
  line-height: 1.2;
  padding-block: 4px;
  padding-inline: 0px;
  transition: color 90ms linear;
}
.header button:hover {
  color: var(--color-text);
}
.content {
  border-top: 1px solid var(--color-border-tertiary);
  color: color-mix(in srgb, var(--color-text) 67%, transparent);
  display: none;
  padding-block: var(--spacing-padding-x);
  padding-inline: var(--spacing-padding-x);
}
.content:where([data-expanded]) {
  display: block;
}
.content p {
  margin: 0px;
}
.content p + p {
  margin-block-start: 0.5em;
}
