.root {
  padding-block: 0px 1px;
  padding-inline: var(--spacing-padding-x);
  width: 100%;
}
.container {
  background: var(--color-bg-secondary);
  border-radius: 16px 16px 0px 0px;
  border: 1px solid var(--color-border-secondary);
  margin-inline: auto;
  max-width: var(--max-width);
  overflow: hidden;
}
.container {
  border-bottom: none;
}
