@import url("katex/dist/katex.min.css");

@import url("normalize.css");
@import url("fonts.css");
@import url("theme.css");

:root {
  background-color: var(--color-bg);
  color-scheme: dark;
  color: var(--color-text);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  overflow: hidden;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
button {
  align-items: center;
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  gap: 8px;
  padding: 0px;
}

.app-header {
  align-items: center;
  display: flex;
  gap: 40px;
  height: 64px;
  justify-content: space-between;
  left: 50%;
  max-width: var(--max-width);
  padding-inline: var(--spacing-padding-x);
  position: fixed;
  top: 0px;
  transform: translateX(-50%);
  width: 100vw;
  z-index: 999;
}
.app-header .blur {
  bottom: auto;
  height: 110%;
  left: 0px;
  position: absolute;
  right: var(--spacing-padding-x);
  top: 0px;
  z-index: 1;

  --gradient-1: color-mix(in srgb, var(--color-bg) 100%, transparent);
  --gradient-2: color-mix(in srgb, var(--color-bg) 67%, transparent);
  --gradient-3: color-mix(in srgb, var(--color-bg) 0%, transparent);
  background: linear-gradient(
    to bottom,
    var(--gradient-1) 10%,
    var(--gradient-2) 50%,
    var(--gradient-3) 97%
  );
}
.app-header .blur > div {
  inset: 0px;
  position: absolute;
}
.app-header > :not(.blur) {
  align-items: center;
  display: flex;
  gap: 8px;
  position: relative;
  z-index: 2;
  /* shifts the content a bit to the top */
  padding-block-end: 8px;
}
.app-header button {
  --color-accent: hsl(284, 0%, 25%);
  background: linear-gradient(
    to bottom,
    color-mix(in srgb, var(--color-accent) 20%, transparent),
    color-mix(in srgb, var(--color-accent) 6%, transparent)
  );

  align-items: center;
  appearance: none;
  border-radius: 50%;
  border: 1px solid color-mix(in srgb, var(--color-accent) 50%, transparent);
  color: var(--color-text);
  height: 32px;
  justify-content: center;
  transition: border 90ms linear, color 90ms linear;
  width: 32px;
}
.app-header button:hover {
  border-color: color-mix(in srgb, var(--color-accent) 67%, transparent);
}
.app-header button.rename {
  background: transparent;
  border: none;
  color: color-mix(in srgb, var(--color-text) 50%, transparent);
}
.app-header button:last-child:hover {
  color: var(--color-text);
}
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-block: 0px;
  margin-inline: auto;
  max-width: var(--max-width);
  padding: 0px;
}

.chat-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100vh;
  margin-inline: auto;
  max-width: var(--max-width);
  overflow-y: auto;
  padding-block: var(--spacing-padding-x);
  padding-inline: var(--spacing-padding-x);
}
.chat-list button {
  align-items: flex-start;
  border-radius: 8px;
  border: 1.5px solid color-mix(in srgb, var(--color-text) 2%, transparent);
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  overflow: hidden;
  padding-block: 8px;
  padding-inline: 12px;
  text-align: left;
  transition: border 90ms linear;
}
.chat-list button:hover {
  border-color: color-mix(in srgb, var(--color-text) 12%, transparent);
}
.chat-list button span:last-child {
  color: color-mix(in srgb, var(--color-text) 50%, transparent);
  font-size: 13px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
