@import url("normalize.css");
@import url("fonts.css");
@import url("theme.css");

:root {
  background-color: var(--color-bg);
  color-scheme: dark;
  color: var(--color-text);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  overflow: hidden;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
button {
  align-items: center;
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  gap: 8px;
  padding: 0px;
}

.app-header {
  align-items: center;
  display: flex;
  gap: 16px;
  height: 64px;
  justify-content: space-between;
  left: 50%;
  max-width: var(--max-width);
  padding-inline: var(--spacing-padding-x);
  position: fixed;
  top: 0px;
  transform: translateX(-50%);
  width: 100vw;
  z-index: 999;

  --gradient-1: color-mix(in srgb, var(--color-bg) 100%, transparent);
  --gradient-2: color-mix(in srgb, var(--color-bg) 98%, transparent);
  --gradient-3: color-mix(in srgb, var(--color-bg) 94%, transparent);
  --gradient-4: color-mix(in srgb, var(--color-bg) 0%, transparent);
  background: linear-gradient(
    to bottom,
    var(--gradient-1) 0%,
    var(--gradient-2) 50%,
    var(--gradient-3) 75%,
    var(--gradient-4) 100%
  );
}
.app-header > div {
  align-items: center;
  display: flex;
  gap: 8px;
}
.app-header button {
  --color-accent: hsl(284, 0%, 25%);
  background: linear-gradient(
    to bottom,
    color-mix(in srgb, var(--color-accent) 20%, transparent),
    color-mix(in srgb, var(--color-accent) 6%, transparent)
  );

  align-items: center;
  appearance: none;
  border-radius: 50%;
  border: 1px solid color-mix(in srgb, var(--color-accent) 50%, transparent);
  color: var(--color-text);
  height: 32px;
  justify-content: center;
  transition: border-color 90ms linear, color 90ms linear;
  width: 32px;
}
.app-header button:hover {
  border-color: color-mix(in srgb, var(--color-accent) 67%, transparent);
}
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-block: 0px;
  margin-inline: auto;
  max-width: var(--max-width);
  padding: 0px;
}

.chat-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100vh;
  margin-inline: auto;
  max-width: var(--max-width);
  overflow-y: auto;
  padding-block: var(--spacing-padding-x);
  padding-inline: var(--spacing-padding-x);
}
.chat-list button {
  border-radius: 8px;
  border: 1.5px solid color-mix(in srgb, var(--color-text) 2%, transparent);
  padding-block: 8px;
  padding-inline: 12px;
  transition: border 90ms linear;
}
.chat-list button:hover {
  border-color: color-mix(in srgb, var(--color-text) 12%, transparent);
}
